<%= form_with(model: gold_place, local: true) do |form| %>
  <% if gold_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gold_place.errors.count, "error") %> prohibited this gold_place from being saved:</h2>

      <ul>
      <% gold_place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :prefecture %>
    <%= form.text_field :prefecture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
