<p id="notice"><%= notice %></p>

<h1>Gold Places</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Prefecture</th>
      <th>Plan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gold_places.each do |gold_place| %>
      <tr>
        <td><%= gold_place.name %></td>
        <td><%= gold_place.prefecture %></td>
        <%gold_place.plans.each do |plan|%>
         <td><%= plan.name %></td>
         <td><%= plan.price %></td>
        <%end%>
      </tr>
      <tr>
        <td><%= link_to 'Show', gold_place %></td>
        <td><%= link_to 'Edit', edit_gold_place_path(gold_place) %></td>
        <td><%= link_to 'Destroy', gold_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gold Place', new_gold_place_path %>
